<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">

            <!-- muchi:// deep links: native Google OAuth returns the session
                 token via muchi://auth/success?token=… (and
                 muchi://youtube/success). Capacitor emits appUrlOpen. -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="muchi" />
            </intent-filter>

        </activity>

        <!-- Discord-style dynamic launcher icons: 25 activity-alias targets
             for MainActivity. Toggled at runtime via PackageManager.setComponentEnabledSetting
             in MuchiAudioPlugin.setAppIcon({ icon }). -->
        <activity-alias
            android:name=".MainActivityAlias_default"
            android:targetActivity=".MainActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_anime_cyber"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_anime_cyber"
            android:roundIcon="@mipmap/ic_launcher_anime_cyber_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_anime_kawaii"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_anime_kawaii"
            android:roundIcon="@mipmap/ic_launcher_anime_kawaii_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_anime_mecha"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_anime_mecha"
            android:roundIcon="@mipmap/ic_launcher_anime_mecha_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_anime_sakura"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_anime_sakura"
            android:roundIcon="@mipmap/ic_launcher_anime_sakura_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_anime_shonen"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_anime_shonen"
            android:roundIcon="@mipmap/ic_launcher_anime_shonen_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_anime_ninja"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_anime_ninja"
            android:roundIcon="@mipmap/ic_launcher_anime_ninja_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_anime_chibi"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_anime_chibi"
            android:roundIcon="@mipmap/ic_launcher_anime_chibi_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_blurple_gamer"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_blurple_gamer"
            android:roundIcon="@mipmap/ic_launcher_blurple_gamer_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_gem_booster"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_gem_booster"
            android:roundIcon="@mipmap/ic_launcher_gem_booster_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_matrix_terminal"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_matrix_terminal"
            android:roundIcon="@mipmap/ic_launcher_matrix_terminal_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_pixel_arcade"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_pixel_arcade"
            android:roundIcon="@mipmap/ic_launcher_pixel_arcade_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_solar_flare"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_solar_flare"
            android:roundIcon="@mipmap/ic_launcher_solar_flare_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_vaporwave"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_vaporwave"
            android:roundIcon="@mipmap/ic_launcher_vaporwave_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_synthwave"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_synthwave"
            android:roundIcon="@mipmap/ic_launcher_synthwave_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_cosmic_nebula"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_cosmic_nebula"
            android:roundIcon="@mipmap/ic_launcher_cosmic_nebula_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_ruby_crimson"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_ruby_crimson"
            android:roundIcon="@mipmap/ic_launcher_ruby_crimson_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_emerald_jade"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_emerald_jade"
            android:roundIcon="@mipmap/ic_launcher_emerald_jade_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_holographic"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_holographic"
            android:roundIcon="@mipmap/ic_launcher_holographic_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_y2k_chrome"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_y2k_chrome"
            android:roundIcon="@mipmap/ic_launcher_y2k_chrome_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_midnight_stealth"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_midnight_stealth"
            android:roundIcon="@mipmap/ic_launcher_midnight_stealth_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_sunset_lofi"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_sunset_lofi"
            android:roundIcon="@mipmap/ic_launcher_sunset_lofi_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_ocean_abyss"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_ocean_abyss"
            android:roundIcon="@mipmap/ic_launcher_ocean_abyss_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_citrus_burst"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_citrus_burst"
            android:roundIcon="@mipmap/ic_launcher_citrus_burst_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAlias_royal_amethyst"
            android:targetActivity=".MainActivity"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_royal_amethyst"
            android:roundIcon="@mipmap/ic_launcher_royal_amethyst_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- MUCHI background audio: Media3 foreground service (kept playing
             with screen locked / app in background; OS media notification +
             lock-screen controls). Typed as mediaPlayback (Android 14+). -->
        <service
            android:name=".MuchiAudioService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            android:stopWithTask="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

    <!-- Permissions: only what MUCHI genuinely needs.
         INTERNET        — API + streaming.
         WAKE_LOCK       — keep the device from sleeping during playback.
         FOREGROUND_SERVICE + FOREGROUND_SERVICE_MEDIA_PLAYBACK
                         — media notification / background playback
                           (Android 14+ requires the typed permission).
         POST_NOTIFICATIONS — runtime-permission media/notification on
                           Android 13+; requested at a sensible moment
                           (first download), never on first launch. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Audio storage permissions: modern Android 13+ (API 33+) requires READ_MEDIA_AUDIO.
         Android 10-12 (API 29-32) uses READ_EXTERNAL_STORAGE.
         Legacy Android 9 and below (API <= 28) uses WRITE_EXTERNAL_STORAGE. -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <!-- v1.5.4 in-app updater: after MUCHI downloads its own update APK it
         hands the file to the system package installer ("Install unknown apps"
         for THIS app). This is a normal-protection permission the user still
         confirms in system settings; it is NOT granted silently and is only
         used to install MUCHI's own signed update, never anything else. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
</manifest>
