<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
        <string>Muchi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
    <false/>
    <key>UISceneConfigurations</key>
    <dict>
      <key>UIWindowSceneSessionRoleApplication</key>
      <array>
        <dict>
            <key>UISceneConfigurationName</key>
            <string>Default Configuration</string>
            <key>UISceneDelegateClassName</key>
            <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
            <key>UISceneStoryboardFile</key>
            <string>Main</string>
        </dict>
      </array>
    </dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.muchi.music</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>muchi</string>
			</array>
		</dict>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>anime_cyber</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-anime_cyber</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>anime_kawaii</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-anime_kawaii</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>anime_mecha</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-anime_mecha</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>anime_sakura</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-anime_sakura</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>anime_shonen</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-anime_shonen</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>anime_ninja</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-anime_ninja</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>anime_chibi</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-anime_chibi</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>blurple_gamer</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-blurple_gamer</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>gem_booster</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-gem_booster</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>matrix_terminal</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-matrix_terminal</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>pixel_arcade</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-pixel_arcade</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>solar_flare</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-solar_flare</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>vaporwave</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-vaporwave</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>synthwave</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-synthwave</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>cosmic_nebula</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-cosmic_nebula</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>ruby_crimson</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-ruby_crimson</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>emerald_jade</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-emerald_jade</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>holographic</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-holographic</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>y2k_chrome</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-y2k_chrome</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>midnight_stealth</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-midnight_stealth</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>sunset_lofi</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-sunset_lofi</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>ocean_abyss</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-ocean_abyss</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>citrus_burst</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-citrus_burst</string></array><key>UIPrerenderedIcon</key><false/></dict>
			<key>royal_amethyst</key>
			<dict><key>CFBundleIconFiles</key><array><string>AppIcon-royal_amethyst</string></array><key>UIPrerenderedIcon</key><false/></dict>
		</dict>
	</dict>
</dict>
</plist>
